<div class="col-sm-4">
  <div class="card ">
    <div class="card-img-top">

    </div>
    <div class="card-block">
      <h4 class="card-title">
        <%= stream.title %>
      </h4>
      <p class="card-text">
        <%= stream.desc %>
      </p>
      <%= link_to "View stream", stream, class: "btn btn-primary" %>
    </div>
  </div>
</div>